<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"/>
    <title>About</title>    
</head>
<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Biography</a></li>
                <li><a href="/tigerente">Tigerente</a></li>
                <li><a href="/gallery">Ilustrations</a></li>            
            </ul>
        </nav>
    </div>
    <h1>Biography</h1>
    <p>Janosch was born as Horst Eckert in what was then Hindenburg (now Zabrze, Poland) in Upper Silesia to a family of mixed German and Polish origin,<br> 
        though he identifies his nationality as "Silesian". His mother was a pious Catholic, and his father a violent alcoholic.</p>
    
    
</body>
</html>