<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"/>
    <title>Home</title>   
</head>
<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Biography</a></li>
                <li><a href="/tigerente">Tigerente</a></li>
                <li><a href="/gallery">Ilustrations</a></li>            
            </ul>
        </nav>
    </div>
    <div class="content">
        <h1>Janosch</h1>
        <p>Born as Horst Eckert on 11 March 1931) is a German-Polish children's author and illustrator.</p>
        <img class="picture" src="./img/janosch.jpg" alt="janosch">
    </div>
</body>
</html>