<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"/>
    <title>Works</title>    
</head>
<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Biography</a></li>
                <li><a href="/tigerente">Tigerente</a></li>
                <li><a href="/gallery">Ilustrations</a></li>            
            </ul>
        </nav>
    </div>
    <h1>Tigerente</h1>
    <p>The Tigerente (lit. tiger duck) is a children's book character created by the German artist and author Janosch.<br> It is a little wooden toy duck on wheels, striped black on yellow, that is pulled around on a string by various characters of Janosch's books.<br> It never has a line of dialogue, but still has become by far the most popular figure ever created by the author.<br> The Tigerente has since appeared on a wide range of products including posters, postcards, high school art projects, buttons, mugs,<br> socks, umbrellas, cutlery, and nearly every item of children's furniture imaginable,<br> and has been the namesake and mascot of the German TV show Tigerenten Club, all without ever uttering a single line.[6][4]<br>

        The story has been made into a contemporary opera "Oh, the beautiful Panama" by Lin Wang.[9]<br> The opera was premiered at Deutsche Oper Berlin in 2013, and was a sold-out event.[9]</p>
    <img class="picture" src="./img/tigerente.jpg" alt="">
</body>
</html>